ul {
  list-style: none;
  padding: 0;
}

details summary {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display:none;
}

#cheat-sheet {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  padding: .5rem;
}

#record-me {
  position: absolute;
  right: 0;
}

#vel-text {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}